
 /* -------------------
     vaalean tilan pakotusyritys
  ------------------- */
* {
  forced-color-adjust: none;
}

: root {
 color-scheme: only light;
}

 img, svg {
  filter: none !important;
  color-scheme: light !important;
}

 /* -------------------
     CSS-muuttujat
  ------------------- */
  
:root {
--color-primary:rgb(0,121,194);   /*HH Blue */
--color-secondary:rgb(202,213,16);  /* HH APPLE GREEN */
--color-accent:rgb(223,0,110);      /* HH PINK */
--color-background:rgb(255,255,255);/* valkoinen */
--color-surface:rgb(230,230,230);   /* harmaa*/
--color-text:rgb(0,0,0); /* musta */
--color-text-secondary:rgb(255,255,255); /*valkoinen*/

--color-background-secondary:var(--color-primary);
--color-accent-secondary:var(--color-accent);
--color-border	: var(--color-primary);

 --font-body: "Roboto", sans-serif;   
 --font-heading : "Roboto", sans-serif; 
 --border-radius: 8px;
}


  /* -------------------
     Yleiset tyylit
  ------------------- */
  body {
    margin: 0;
    font-family: var(--font-body);
    background-color: var(--color-background);
    color: var(--color-text);
    
  }

 
 

  header {
    background-color: var(--color-background-secondary);
    color: var(--color-text-secondary);
    padding:1px;
    text-align: center;
    font-family: var(--font-heading);
   
  }

  header h1 {margin:1px 0px;
             font-size: 1.6rem;}
  h3 {margin-bottom:0px}

  h2 {font-size: 1.2rem;}
  main {padding: 1rem;padding-bottom: 40px;
    
  }

  footer a {text-decoration: none; color:var(--color-text-secondary)}
  .hello {font-size: 1.2em;
  
}

  footer {background-color: var(--color-background-secondary);
  height: 50px;
  width: 100%;
position:fixed;
bottom:0px;
text-align: center;
display: flex;
  padding:5px 0px 0px  0px; 
  color:var(--color-text-secondary);
& div {flex:1}}

.welcome {background-image: url(koulu.jpg);
background-repeat: no-repeat;
background-size: cover;
padding: 10px;
font-weight: bold;}


  /* -------------------
     Pikapalvelut
  ------------------- */
  .quick-services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .service-btn {
    background-color: var(--color-background-secondary);
    color: var(--color-text-secondary);
    padding: 1rem 0;
    text-align: center;
    border-radius: var(--border-radius);
    font-size: 0.9rem;
    text-decoration: none;
  }

  /* -------------------
     Kampusuutiset ja tapahtumat
  ------------------- */
 
  .dashboard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .news, .events {
    background-color: var(--color-surface);
    
    border-radius: var(--border-radius);
    padding-left: 10px;
    padding-right: 10px;
  }
  #news {padding-left: 20px;}
  #news  li {display: none;}
  #news .start {display: list-item;}

  .events-item {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    display: flex;
    gap:10px;
    align-items: center;

    & img {width: 80px; height: 80px; border-radius:5px}
    & h3 {margin: 0 auto}
    & ul {margin: 0; list-style-type: none;
       padding-left:5px}
    & button {height: 2em;}
    & div {flex:1}
  
  }
  

.events:last-child {
  
  padding-bottom:50px
    
  }

  .btn-event {
    background-color: var(--color-background-secondary);
    color:var(--color-text-secondary);
    border: none;
    padding: 0.3rem 0.6rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 0.8rem;
  }
 h3 {font-size: 1rem;}

 /* -----------------------------
     palvelut
  ----------------------------- */
.palvelut img {border:2px solid var(--color-primary);
              border-radius: 10px;}

 
  /* -------------------
     Responsiivisuus 
  ------------------- */
  @media (min-width: 600px) {
    .dashboard {
      flex-direction: row;
      gap: 1rem;
    }
    .news {
      flex: 1;
    }

  #news li {display: list-item;}
    .events {
      flex: 1;
    }
  }